<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Hotcakes katalogus bongeszesehez (csak olvasas) -->
    <add key="StoreUrl" value="http://20.107.242.91" />
    <add key="ApiKey"   value="1-8a22a0bb-366f-4e7e-b9ff-78280079cf6a" />

    <!-- NaturaCo RecipeSync API host (csak host, a /DesktopModules/... reszt
         a kliens fuzi hozza). Local: http://localhost  -  Remote: pl. http://20.107.242.91 -->
    <add key="NaturaCoApiUrl" value="http://20.107.242.91" />
  </appSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
