<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Hotcakes katalogus bongeszesehez (csak olvasas) -->
    <add key="StoreUrl" value="http://20.107.242.91" />
    <add key="ApiKey"   value="1-8a22a0bb-366f-4e7e-b9ff-78280079cf6a" />

    <!-- NaturaCo RecipeSync API host (csak host, a /DesktopModules/... reszt
         a kliens fuzi hozza). Local: http://localhost  -  Remote: pl. http://20.107.242.91 -->
    <add key="NaturaCoApiUrl" value="http://20.107.242.91" />

    <!-- A HotCakes "Receptek" gyokerkategoria bvin-je. A szerver minden Save/Publish/Revoke
         kerelesnel ezt hasznalja, ha a receptnek meg nincs sajat CategoryBvin-je. -->
    <add key="RecipeRootCategoryBvin" value="c6e2eb28-a221-420e-bdaa-4de34bd75c2d" />
  </appSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
