@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Teszko.Dnn.Teszko_Dnn_HelloWorld_Items.Models.Item>>

<div class="natura-co-intro">
    <p>Sziasztok, mi vagyunk a NaturaCo.</p>
    <p>Ez egy minta modul a weboldalhoz.</p>
    <p>Hasonló modulokat létre tudunk hozni, ezzel saját funkciókat adva a weboldalnak a DNN-hez.</p>
</div>
